.gameContainer{
  display: table;
  table-layout: fixed;

  max-width:1200px;
  width:auto;
  border:solid 2px #eeeeee;
  padding:16px;
  margin-left:auto;
  margin-right:auto;
}

.gameContainer > ul {
  display: table-cell;
  max-width:49%;
  width:auto;
  float:left;
  border: solid 2px #eeeeee;
  padding:0;
  margin:0;
  list-style: none;
}

.item{
  width:164px;
	padding:6px;
	height:164px;
	float:left;
  border-radius: 6px 6px 6px 6px;
	margin:8px;
	cursor:pointer;
	border:solid 2px #dbe2e8;
}

 .image-container{
	width:164px;
	height:164px;
	-webkit-box-shadow: inset 0px 2px 74px 0px rgba(203,213,222,1);
	-moz-box-shadow: inset 0px 2px 74px 0px rgba(203,213,222,1);
	box-shadow: inset 0px 2px 74px 0px rgba(203,213,222,1);
	position:relative;
  border-radius:6px 6px 6px 6px;
	}

  .image-container img{
    	width:100%;
    	height:auto;
      max-height: 164px;
      max-width:  164px;
    	position:absolute;
      top:0;
      bottom:0;
      margin:auto;

      user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;

  }

.mateContainer{
  background-color: #e3e7ed;
}
.mateContainer .item{
  background-color:white;
}



.item-hover .image-container{
  -webkit-box-shadow: inset 0px 2px 74px 0px rgba(68,140,255,1);
  -moz-box-shadow: inset 0px 2px 74px 0px rgba(68,140,255,1);
  box-shadow: inset 0px 2px 74px 0px rgba(68,140,255,1);
}

.h5p-pair-images{
  background-size: cover;
  display: block;
  background-color: #e3e7ed !important;
  border: solid 2px #e3e7ed;
  position: relative;

}

.h5p-pair-images .item-hover{
  border: solid 2px #448cff;
  position: relative;
}

.h5p-pair-images .item-correct{
  border: solid 2px #59c417;
  position: relative;
}

.h5p-pair-images .item-incorrect{
  border: solid 2px red;
  position: relative;
}

.h5p-pair-images .item-solved{
  border: dashed 2px blue;
  position: relative;
}

.pairing-mark {

    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    position: absolute;
    left: 75%;
    top: 10%;
    width: 20px;
    height: 20px;
    z-index: 1;
    color: #FFFFFF;
    padding-left:4px;
    line-height: 20px;
}
.pairing-correct-mark {
    background-color: #47b47d;
}
.pairing-solved-mark {
    background-color: blue;
}
.pairing-incorrect-mark {
    background-color: #dd2e2e;
}
.pairing-correct-mark:before , .pairing-solved-mark:before {
    content: "\f00c";
    font-family: H5PFontAwesome4;
}
.pairing-incorrect-mark:before {
    content: "\f00d";
    font-family: H5PFontAwesome4;
}



.h5p-popup-image{
display: inline-block;
line-height: 5.83em;
/*position: relative;*/
top: 74px;
/*82-8*/
left:-8px;
border: 4px solid #ffffff;
box-sizing: border-box;
-moz-box-sizing: border-box;
/*border-radius: 4px;*/
background: #f0f0f0;
width: 82px;
height: 82px;
overflow: hidden;
/*box-shadow: 0 0 1em rgba(125,125,125,0.5);*/
background-size: cover;


position:relative;
border-radius:6px 6px 6px 6px;

}

.h5p-pair-images .front {

    left:8px;
    top: 8px;
    z-index:1;
}

.h5p-popup-image img{
  width:100%;
  height:auto;
  max-height: 82px;
  max-width:  82px;
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;

  user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}

/*.h5p-pair-images .h5p-popup-image:second-child {
    bottom: 0.5em;
    right: 1em;
}*/

.disabled{
   transform: scale(.8,.8);
   pointer-events:none;
   border:2px solid white;
}

.disabled .image-container{
  box-shadow: none;
  opacity: 0.5;
}

.h5p-pair-images.item-hover {
    border: solid 2px #e3e7ed;
    position: relative;

}

.item-hover{
  border: solid 2px blue;
  position: relative;
}

.reducer , .item-selected {

    -ms-transform: scale(.8,.8); /* IE 9 */
    -webkit-transform: scale(.8, .8); /* Safari */
    transform: scale(.8, .8);
    border:2px dashed blue;
    z-index:0 !important;

}
.ui-draggable-dragging{
  -ms-transform: scale(.8,.8); /* IE 9 */
  -webkit-transform: scale(.8, .8); /* Safari */
  transform: scale(.8, .8);
  border:2px solid blue;
  opacity: 1 !important;
  background-color: white;
  z-index:2;
}

.ui-state-disabled{
  opacity: 1;
  z-index: 0 !important;
}


.feedbackContainer{
  /*display:none;*/
}
